* {
	box-sizing: border-box;
	font-family: "Outfit";
}

body {
	background-color: hsl(30, 54%, 90%);
	margin: 0;
}

main {
	width: 50%;
	margin: 100px auto;
	padding: 35px;
	background-color: white;
	border-radius: 25px;
}

figure {
	margin: 0;
}

img {
	width: 100%;
	border-radius: 25px;
	padding-left: 0;
}

h1 {
	font-family: "Young Serif";
	font-weight: 400;
	font-size: 40px; 
}

p {
	font-size: 15px;
	font-family: Outfit;
}

.preparationt {
	background-color: hsl(330, 100%, 98%);
	padding: 0 20px;
	border-top: 1px solid transparent;
}

.preparationtime {
	padding-block: 20px;
}

h2 {
	font-size: 20px;
	color: hsl(332, 51%, 32%);
	margin: 0;
}

ul {
	padding-left: 25px;
	margin-top: 0;
}

li {
	padding-left: 20px;
	padding-bottom: 10px;
}

.ingredients ul {
	padding-left: 25px;
}

h2:not(.preparationtime) {
	font-family: "Young Serif";
	font-size: 26px;
	font-weight: 400;
	padding-block: 10px;
}

hr {
	
	background-color: lightgray;
	border-color: transparent;
}

ol > li::marker {
	color: hsl(332, 51%, 32%);
	font-weight: 800;
}

table {
	width: 100%;
}

td {
	border-bottom: 1px solid gray;
	padding: 10px;
}

.title {
	padding-left: 30px;
}

.values {
	color: hsl(332, 51%, 32%);
	font-weight: 800;
}

/*Codes for mobile phones*/

@media screen and (max-width: 480px) { /*media queries're put after the original codes. I've been trying to make this code work.*/
  
  main {
  	width: 100%;
	max-width: 640px;
  	margin: 0;
  	padding: 0;
  	border-radius: 0;
  }

  img {
  	border-radius: 0;
  }

  h1 {
  	font-size: 10vw;
  }

  h1, p, hr, section {
  	margin-left: 15px;
  	margin-right: 15px;	
  }
}


